$app-font: 'Quicksand', sans-serif;
$primary-light: #F6FBFA;
$primary-dark: #244958;

body {
    background-color: $primary-light;
    font-family: $app-font;
}

.league-main {
    color: $primary-dark;
    .league-main-title {
        color: black;
    }
}