@import "./Variables";

.league-table {
    color: $calypso;
    .league-table-header {
        font-size: 34px;
    }
    .league-table-header hr {
        margin-top: 0;
        width: 35%;
        border-color: $calypso;
        box-shadow: 0px 0px 1px 0px $blue-dianne;
        transition: .3s ease-out;
    }
}