// $app-font: 'Quicksand', sans-serif;
$secondary-light: #EDFAFF;
$secondary-dark: #2A6881;

.table {}
.table-header {
    color: $secondary-dark;
}
.table-body {
    background-color: $secondary-light;
}