@import "./Variables";

.player {
    color: lighten($blue-dianne, 10%);
    .player-info {
        font-size: 18px;
    }
    .player-position {
        padding-right: 10px;
        display: inline;
        font-size: 16px;
        color: $lily;
    }
}
